Source: libslimbook
Section: libs
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (=13), meson, ninja-build, g++ (>=11)
Standards-Version: 4.6.0
Homepage: https://github.com/Slimbook-Team/libslimbook

Package: libslimbook1
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Slimbook hardware identification library
 This shared library identifies Slimbook hardware model

Package: libslimbook-dev
Architecture: any
Depends: ${misc:Depends}, libslimbook1
Description: libslimbook development files
 Development files (headers) for libslimbook
